<div class="container">
  <h2>Ödeme Bilgileri</h2>
  
  <form [formGroup]="payFormGroup" (ngSubmit)="pay()">
    <div class="mb-3">
      <label for="fullName" class="form-label">Ad Soyad</label>
      <input type="text" class="form-control" id="fullName" formControlName="fullName" required>
    </div>
    
    <div class="mb-3">
      <label for="cardNumber" class="form-label">Kredi Kartı Numarası</label>
      <input type="text" class="form-control" id="cardNumber" formControlName="cardNumber" required>
    </div>
    
    <div class="row g-3">
      <div class="col">
        <label for="expiryMonth" class="form-label">Son Kullanma Ayı</label>
        <input type="text" class="form-control" id="expiryMonth" formControlName="expiryMonth" required>
      </div>
      
      <div class="col">
        <label for="expiryYear" class="form-label">Son Kullanma Yılı</label>
        <input type="text" class="form-control" id="expiryYear" formControlName="expiryYear" required>
      </div>
      
      <div class="col">
        <label for="cvv" class="form-label">CVV</label>
        <input type="text" class="form-control" id="cvv" formControlName="cvv" required>
      </div>
    </div>
    
    <button type="submit" class="btn btn-primary mt-3" >Ödeme Yap & Kirala</button>
  </form>
</div>
