<div class="mb-3">
  <input type="text" [(ngModel)]="filterCarText" class="form-control" id="filterCarText" placeholder="Araba ara">
</div>

<!-- Araç filtreleme bileşeni -->
<app-car-filter (filterChanged)="onFilterChanged($event)" (clearFilter)="onClearFilter()"></app-car-filter>

<!-- Araç listeleme bölümü -->
<div>
  <div class="row">
    <div class="col-md-4 mb-4" *ngFor="let car of carDetails | filterCarDetailList:filterCarText">
      <div class="card h-100">
        <div *ngIf="carImageDetails[car.carId] && carImageDetails[car.carId].length > 0">
          <img [src]="getImagePath(carImageDetails[car.carId][0])" class="card-img-top" alt="car image">
        </div>
        <div *ngIf="!carImageDetails[car.carId] || carImageDetails[car.carId].length === 0" class="card-img-top placeholder-image">
          <p class="text-center">Araca ait resim bulunmamaktadır.</p>
        </div>
        <div class="card-body">
          <h5 class="card-title">{{ car.brandName }}</h5>
          <p class="card-text">{{ car.carName }}</p>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">{{ car.colorName }} Renk</li>
            <li class="list-group-item">{{ car.modelYear }} Model</li>
            <li class="list-group-item">Günlük Ücret &#8378;{{ car.dailyPrice }}</li>
          </ul>
        </div>
        <div>
          <button type="button"  [routerLink]="['/car', car.carId]" class="btn btn-primary d-block w-100">Araba detay</button>
        </div>
      </div>
    </div>
  </div>
</div>
